<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>doReg</servlet-name>
    <servlet-class>servlet.doReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doReg</servlet-name>
    <url-pattern>/servlet/doReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServer</servlet-name>
    <servlet-class>servlet.CheckServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServer</servlet-name>
    <url-pattern>/servlet/CheckServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToEditTitle</servlet-name>
    <servlet-class>servlet.ToEditTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToEditTitle</servlet-name>
    <url-pattern>/servlet/ToEditTitle</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>servlet.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DoDeleteTitle</servlet-name>
    <servlet-class>servlet.DoDeleteTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteTitle</servlet-name>
    <url-pattern>/servlet/DoDeleteTitle</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>