<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>doReg</servlet-name>
    <servlet-class>bean.doReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doReg</servlet-name>
    <url-pattern>/bean/doReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>bean.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/bean/ImageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckServer</servlet-name>
    <servlet-class>bean.CheckServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServer</servlet-name>
    <url-pattern>/bean/CheckServer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>